<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>AMAZON statistics</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>

<body>
    <div class="container-fluid m-report-ctn j-report-ctn">
        <header class="report-t">
            <h3>数据报表<small>综合报表(父)</small></h3>
        </header>
        <section class="report-hd">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="store">店铺</label>
                        <select id="store" class="form-control">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="leader">负责人</label>
                        <select id="leader" class="form-control">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="ASIN">ASIN父</label>
                        <input type="text" class="form-control" id="ASIN" placeholder="ASIN父">
                      </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="period">统计周期</label>
                        <select id="period" class="form-control">
                              <option>自定义</option>
                              <option>日</option>
                              <option>周</option>
                              <option>月</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="time">时间范围</label>
                        <input type="text" class="form-control" id="time" placeholder="时间范围">
                      </div>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary hd-opt">导出</button>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary hd-opt">搜索</button>
                </div>
                <div class="col-sm-1">
                    <a href="#" class="text-danger hd-opt">高级搜索</a>
                </div>
                <div class="col-sm-1">
                    <a href="#" class="text-danger hd-opt">批量操作</a>
                </div>
            </div>
        </section>
        <section>
            <table-vue :col="col"
                        :row="row"
                        :ctn="ctn"
            ></table-vue>

            <div class="fix-left">
                <table-vue :col="col"
                            :row="row"
                            :ctn="ctn"
                            :left="true"
                ></table-vue>
            </div>

            <div class="fix-right">
                <table-vue :col="col"
                            :row="row"
                            :ctn="ctn"
                            :right="true"
                ></table-vue>
            </div>
        </section>
        <footer>

        </footer>
    </div>
    <script type="text/x-template" id="table-temp">
        <div class="fix-hd-table">
            <div class="noscroll-head" :class="{'j-noscroll-head': !left&&!right}">
                <table class="thead table table-bordered table-hover" :class="{'j-thead': !left&&!right}">
                    <col width="90px" v-for="n in col+3+2"></col>
                    <tbody>
                        <tr class="info">
                            <th v-if="!right" rowspan="2">选择框</th>
                            <th v-if="!right" rowspan="2">编号</th>
                            <th v-if="!right" rowspan="2">店铺码</th>
                            <th v-if="right" rowspan="2">标签</th>
                            <th v-if="right" rowspan="2">备注</th>

                            <th :colspan="col/20" v-for="n in col/10" :class="{'visibility-none': left||right}">{{n + '第一列长头'}}</th>

                            <th v-if="right" rowspan="2">选择框</th>
                            <th v-if="right" rowspan="2">编号</th>
                            <th v-if="!right" rowspan="2">店铺码</th>
                            <th v-if="!right" rowspan="2">标签</th>
                            <th v-if="!right" rowspan="2">备注</th>
                        </tr>
                        <tr class="info">
                            <th v-for="n in col" :class="{'visibility-none': left||right}">{{n + '第二列短头'}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="scroll-body" :id="isScrollBody">
                <table class="tbody table table-bordered table-hover" :class="{'scroll-body-left': left||right}" :id="whichSide">
                    <col width="90px" v-for="n in col+3+2"></col>
                    <tbody>
                        <tr v-for="m in row">
                            <td v-if="!right">选择框</td>
                            <td v-if="!right">编号</td>
                            <td v-if="!right">店铺码</td>
                            <td v-if="right">标签</td>
                            <td v-if="right">备注</td>

                            <td v-for="n in col" :class="{'visibility-none': left||right}">{{'row:'+m + 'col:'+n + ctn}}</td>

                            <td v-if="right" class="visibility-none">选择框</td>
                            <td v-if="right" class="visibility-none">编号</td>
                            <td v-if="right" class="visibility-none">店铺码</td>
                            <td v-if="!right" class="visibility-none">标签</td>
                            <td v-if="!right" class="visibility-none">备注</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.3.4/vue.js"></script>
	<script>
        Vue.component('table-vue', {
            template: '#table-temp',
            props: {
                col: {type: Number, default: 0},
                row: {type: Number, default: 0},
                ctn: {type: String, default: ''},
                left: {type: Boolean, default: false},
                right: {type: Boolean, default: false},
            },
            data: function() {
                return {
                    isScrollBody: !this.left&&!this.right ? 'j-scroll-body' : '',
                }
            },
            computed: {
                whichSide: function() {
                    if (this.left) {
                        return 'j-scroll-left'
                    } else if (this.right) {
                        return 'j-scroll-right'
                    } else {
                        return ''
                    }
                }
            }
        })

        new Vue({
            el: '.j-report-ctn',
            data: {
                row: 100,
                col: 200,
                ctn: '试试长文本显示'
            },
            mounted: function() {
                $('.j-scroll-body').css('width', $('.j-thead').css('width'));

                var getScrollBody = document.getElementById('j-scroll-body');
                var getScrollLeft = document.getElementById('j-scroll-left');
                var getScrollRight = document.getElementById('j-scroll-right');
                getScrollBody.onscroll = function(){
                    var scrollTop = (function() {
                        if (getScrollBody.pageYOffset != null){
                            return getScrollBody.pageYOffset
                        }else if (document.compatMode == 'CSS1Compat'){
                            return getScrollBody.scrollTop
                        }
                        return getScrollBody.scrollTop
                    })();
                    getScrollLeft.style.top = -scrollTop + 'px'
                    getScrollRight.style.top = -scrollTop + 'px'
                }
                // $('.j-scroll-body').scroll(function(event) {
                //     var targetScrollTop = $('.j-scroll-body').scrollTop();
                //     $('.j-scroll-body-left').css('top', -targetScrollTop);
                //     $('.j-scroll-body-right').css('top', -targetScrollTop);
                // });
            }
        })
    </script>
</body>

</html>
