<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>AMAZON statistics</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>

<body>
    <div class="container-fluid m-report-ctn j-report-ctn">
        <header class="report-t">
            <h3>数据报表<small>综合报表(父)</small></h3>
        </header>
        <section class="report-hd">
            <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="store">店铺</label>
                        <select id="store" class="form-control">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="leader">负责人</label>
                        <select id="leader" class="form-control">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ASIN">ASIN父</label>
                        <input type="text" class="form-control" id="ASIN" placeholder="ASIN父">
                      </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="period">统计周期</label>
                        <select id="period" class="form-control">
                              <option>自定义</option>
                              <option>日</option>
                              <option>周</option>
                              <option>月</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="time">时间范围</label>
                        <input type="text" class="form-control" id="time" placeholder="时间范围">
                      </div>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary hd-opt">导出</button>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary hd-opt">搜索</button>
                </div>
                <div class="col-sm-1">
                    <a href="#" class="text-danger hd-opt">高级搜索</a>
                </div>
                <div class="col-sm-1">
                    <a href="#" class="text-danger hd-opt">批量操作</a>
                </div>
            </div>
        </section>
        <section class="j-render-ctn">
            <div class="fix-center">
                <table-vue :col="col"
                            :row="row"
                            :fix="fix"
                            :sort="sort"
                            :ctn="ctn"
                ></table-vue>


                <div class="fix-left">
                    <table-vue :col="col"
                                :row="row"
                                :fix="fix"
                                :sort="sort"
                                :ctn="ctn"
                                :left="true"
                    ></table-vue>
                </div>
            </div>
        </section>
    </div>
    <script type="text/x-template" id="table-temp">
        <div class="fix-hd-table">
            <div class="noscroll-head" :class="{'j-noscroll-head': !left&&!right}">
                <table class="thead table table-bordered table-hover" :id="isScrollHead">
                    <col width="90px" v-for="n in col+3"></col>
                    <tbody>
                        <tr class="info">
                            <th :colspan="3" v-if="!right">基础数据</th>
                            <th :colspan="col" v-for="n in 1" :class="{'visibility-none': left||right}">{{n + '第一列长头'}}</th>
                        </tr>
                        <tr class="info">
                            <td v-if="!right" v-for="(fixValue, fixKey) in fix">
                                {{fixValue}}
                            </td>
                            <th v-for="sortValue in sort" :class="{'visibility-none': left||right}">{{sortValue}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="scroll-body" :id="isScrollBody">
                <table class="tbody table table-bordered table-hover" :class="{'scroll-body-left': left||right}" :id="whichSide">
                    <col width="90px" v-for="n in col+3"></col>
                    <tbody>
                        <tr v-for="m in row">
                            <td v-if="!right" v-for="(fixValue, fixKey) in fix">
                                {{ctn[m-1] ? ctn[m-1][fixKey] : ''}}
                            </td>
                            <td v-for="(sortValue, sortKey) in sort" :class="{'visibility-none': left||right}">{{ctn[m-1] ? ctn[m-1][sortKey] : ''}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.3.4/vue.js"></script>
	<script>
        Vue.component('table-vue', {
            template: '#table-temp',
            props: {
                col: {type: Number, default: 0},
                row: {type: Number, default: 0},
                fix: {type: Object, default: {}},
                sort: {type: Object, default: {}},
                ctn: {type: Array, default: []},
                left: {type: Boolean, default: false},
                right: {type: Boolean, default: false},
            },
            data: function() {
                return {
                    isScrollBody: !this.left&&!this.right ? 'j-scroll-body' : '',
                    isScrollHead: !this.left&&!this.right ? 'j-thead' : '',
                }
            },
            computed: {
                whichSide: function() {
                    if (this.left) {
                        return 'j-scroll-left'
                    } else if (this.right) {
                        return 'j-scroll-right'
                    } else {
                        return ''
                    }
                }
            }
        })

        var reportVue = new Vue({
            el: '.j-report-ctn',
            data: {
                row: 10,
                col: 30,
                ctn: [],
                fix: {
                    'id': '序号',
                    'asinf': 'ASIN父',
                    'bi_img_url': '图片',
                },
                sort : {
                    // 基础数据
                    'shop': '店铺',
                    'charger': '负责人',
                    "catpath": '分类',
                    'bi_weight': '重量',
                    'bi_cost': '成本',

                    // 库存
                    'afninboundshippedquantity': 'FBA在途库存',
                    'bi_stock105areabc': '105库存',

                    // 销售
                    // 广告
                    // 成本
                    // 退货
                    // 其它
                    'eviewnum': '评论数',
                    'goodssort': '排名',
                    '': '',
                    '': '',
                }
            },
            created: function() {
                this.getAjax();
            },
            mounted: function() {

            },
            methods: {
                getAjax: function() {
                    var self = this;
                    $.ajax({
                        url: '/yuzhen_json.json',
                        type: 'GET',
                        dataType: 'json'
                    })
                    .done(function(json) {
                        console.log(json);
                        self.row = json.length;

                        var size = 0, key;
                        for (key in json[0]) {
                            size++;
                        }
                        self.col = size;

                        self.ctn = json;

                        self.$nextTick(function() {
                            self.bindEvent();
                        })
                    })
                    .fail(function() {
                        console.log("error");
                    })
                    .always(function() {
                        console.log("complete");
                    });

                },
                bindEvent: function() {
                    var getScrollBody = document.getElementById('j-scroll-body');
                    var getScrollHeader = document.getElementById('j-thead');
                    var getScrollLeft = document.getElementById('j-scroll-left');
                    getScrollBody.style.width = getScrollHeader.offsetWidth+'px';
                    getScrollBody.onscroll = function(){
                        var scrollTop = (function() {
                            if (getScrollBody.pageYOffset != null){
                                return getScrollBody.pageYOffset
                            }else if (document.compatMode == 'CSS1Compat'){
                                return getScrollBody.scrollTop
                            }
                            return getScrollBody.scrollTop
                        })();
                        getScrollLeft.style.transform = 'translate3d(0,' + (-scrollTop+'px') + ',0)';
                    }

                    // $('.j-scroll-body').scroll(function(event) {
                    //     var targetScrollTop = $('.j-scroll-body').scrollTop();
                    //     $('.j-scroll-body-left').css('top', -targetScrollTop);
                    //     $('.j-scroll-body-right').css('top', -targetScrollTop);
                    // });
                },

                // 列表项的hover和点击
                bindTd: function() {
                    // $('#j-scroll-body td').
                }
            }
        })


    </script>
</body>

</html>
