.m-report-ctn {
    .report-t {
        small {
            display: inline-block;
            margin: 0 10px;
        }
    }
    .report-hd {
        font-size: 12px;
        font-weight: normal;
    }
    .hd-opt {
        display: inline-block;
        margin-top: 25px;
    }

    .fix-hd-table {
        width: 100%;
        overflow-x: auto;
        table {
            table-layout: fixed;
            text-align: center;
        }
        .thead{
            margin-bottom: 0;
        }
        .thead th{
            text-align: center;
        }
        .scroll-body{
            height:200px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    .fix-left,
    .fix-right {
        position: fixed;
        top: 128px;
        height: 76px + 200px;
        pointer-events: none;
        .noscroll-head {
            overflow: hidden;
        }
        .scroll-body {
            overflow: hidden;
            position: absolute;
            left: 0px;
        }
        .scroll-body-left,
        .scroll-body-right {
            position: absolute;
            top: 0;
        }
        td {
            background-color: #fff;
        }
    }
    .fix-left {
        left: 15px;
        width: 3*90+1px;
        box-shadow: 1px 0 8px #ccc;
        .scroll-body {
            width: 3*90+1px;
        }
    }
    .fix-right {
        right: 15px;
        width: 2*90+1px;
        box-shadow: -1px 0 8px #ccc;
        .scroll-body {
            width: 2*90+1px;
        }
    }
    .visibility-none {
        visibility: hidden;
    }
}
